---
import Card from './Card.astro';

import { Props as CardProp } from './Card.astro';

type Props = {
  cards: CardProp[];
};

const { cards } = Astro.props;
---

<div class="cards">
  {cards.map((card) => <Card {...card} />)}
</div>

<style>
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  @media screen and (min-width: 760px) {
    .cards {
      flex-direction: row;
    }
  }
</style>
